INFRA_LOCATION=home|cloud

DOCKER_ENV=development|production|test
DOCKER_RESTART=no|unless-stopped

NODE_ENV=production

HTTPS_PORT=8443|443
HTTP_PORT=8888|80

DOMAIN=example.texas2010.com

CADDYFILE_PATH=./Caddyfile|./Caddyfile.test
CLOUDFLARE_API_TOKEN=

GOTMAN_API_BASE_URL=