# Logs
logs
*.log
npm-debug.log*


# mac files
.DS_Store

# Dependency directories
node_modules

# vim swap files
*.swp

# webstorm
.idea

# vscode
.vscode
*code-workspace

.env
.env*
!.env.sample
/config
/data
/log
/logs
*.service